In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('./AdventureWorks/FactInternetSales.xlsx')

In [9]:
df

,ProductKey,OrderDateKey,DueDateKey,ShipDateKey,CustomerKey,PromotionKey,CurrencyKey,SalesTerritoryKey,SalesOrderNumber,SalesOrderLineNumber,...,ProductStandardCost,TotalProductCost,SalesAmount,TaxAmt,Freight,CarrierTrackingNumber,CustomerPONumber,OrderDate,DueDate,ShipDate
0,353,20121231,20130112,20130107,11345,1,100,7,SO51224,1,...,1265.6195,1265.6195,2319.9900,185.5992,57.9998,NaN,NaN,41274,41286,41281
1,537,20121231,20130112,20130107,11345,1,100,7,SO51224,2,...,13.0900,13.0900,35.0000,2.8000,0.8750,NaN,NaN,41274,41286,41281
2,581,20121231,20130112,20130107,20982,1,98,10,SO51225,1,...,1082.5100,1082.5100,1700.9900,136.0792,42.5248,NaN,NaN,41274,41286,41281
3,490,20121231,20130112,20130107,20982,1,98,10,SO51225,2,...,41.5723,41.5723,53.9900,4.3192,1.3498,NaN,NaN,41274,41286,41281
4,225,20121231,20130112,20130107,20982,1,98,10,SO51225,3,...,6.9223,6.9223,8.9900,0.7192,0.2248,NaN,NaN,41274,41286,41281
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5622,310,20101229,20110110,20110105,21768,1,19,6,SO43697,1,...,2171.2942,2171.2942,3578.2700,286.2616,89.4568,NaN,NaN,40541,40553,40548
5623,346,20101229,20110110,20110105,28389,1,39,7,SO43698,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,NaN,NaN,40541,40553,40548
5624,346,20101229,20110110,20110105,25863,1,100,1,SO43699,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,NaN,NaN,40541,40553,40548
5625,336,20101229,20110110,20110105,14501,1,100,4,SO43700,1,...,413.1463,413.1463,699.0982,55.9279,17.4775,NaN,NaN,40541,40553,40548
5626,346,20101229,20110110,20110105,11003,1,6,9,SO43701,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,NaN,NaN,40541,40553,40548

In [15]:
df['CustomerPONumber'].isna().sum()

np.int64(5627)

In [14]:
df.shape

(5627, 26)